body {
    background-color: green;
}

#instructBox {
    background-color: darkgreen;
    color:bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
#solitareImg {
    height: 400px;
}
p {
    text-align: center;
}